################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CalculatorRepo/v16
/.vs/logic-day-calculator
/.vs
/src/ICalculator/obj
